/* Dragon Form Css */
.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Dragon list Css */

.card-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dragon-image {
  width: 100px;
}

/* Css arena */

.arena {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 400px;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0 auto;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/9e10e561645499.5a74d1b1d8390.jpg");
  background-size: cover;
  background-position: center;
}

/* Estilos para os elementos de um lado da arena */
.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

/* Estilos para cada elemento */
.element {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.element img {
  width: 150px;
}

.reverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}